table td {
    width: 50px;
    height: 50px;
    border: 4px solid black;
    background-color: white;
}

table {
    border-collapse: collapse;
}

.cellVert {
    background-color: green;
}

.cellRouge {
    background-color: red;
}

.cellVide {
    background-color: white;
}

body {
    background-color: lightgrey;
}

